<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnjing.ws.model.dao.SiteHistoryMapper">

<!-- Result Map-->
<resultMap id="SiteHistoryResultMap" type="com.hnjing.ws.model.entity.SiteHistory">
	<id column="site_id" property="siteId"/>
	<result column="page" property="page"/>
	<result column="title" property="title"/>
	<result column="content" property="content" typeHandler="com.hnjing.utils.MyBlobTypeHandler"/>
	<result column="status" property="status"/>
	<result column="ip" property="ip"/>
	<result column="self_site" property="selfSite"/>
	<result column="comment" property="comment"/>
	<result column="gmt_created" property="gmtCreated"/>
</resultMap>

<sql id="sql_siteHistory_item">
	site_id, page, title, content, status, comment, ip, self_site, gmt_created
</sql>
       
<!-- 查询条件 无WHERE -->
<sql id="sql_siteHistory_query_nowhere">
	<trim prefix=" " prefixOverrides="AND|OR">
		<if test="siteHistory.siteId != null">AND site_id = #{siteHistory.siteId} </if>
		<if test="siteHistory.page != null">AND page like concat(#{siteHistory.page}, '%') </if>
		<if test="siteHistory.title != null">AND title like concat(#{siteHistory.title}, '%') </if>
		<if test="siteHistory.selfSite != null">AND self_site = #{siteHistory.selfSite} </if>
		<if test="siteHistory.ip != null">AND ip =#{siteHistory.ip} </if>
		<if test="siteHistory.status != null">AND status = #{siteHistory.status} </if>
		<if test="siteHistory.comment != null">AND comment = #{siteHistory.comment} </if>
	</trim>
</sql>
   
<!-- 插入 异常网站历史记录 -->
<insert id="addSiteHistory" parameterType="com.hnjing.ws.model.entity.SiteHistory" >
	<selectKey keyProperty="siteId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
 	INSERT INTO tb_site_history 
	<trim prefix=" (" suffix=")" suffixOverrides=",">
		<if test="siteId != null"> site_id,</if>
		<if test="page != null"> page,</if>
		<if test="title != null"> title,</if>
		<if test="content != null"> content,</if>
		<if test="status != null"> status,</if>
		<if test="ip != null"> ip,</if>
		<if test="selfSite != null"> self_site,</if>
		<if test="comment != null"> comment,</if>
		gmt_created
	</trim>	 	
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="siteId != null"> #{siteId},</if>
		<if test="page != null"> #{page},</if>
		<if test="title != null"> #{title},</if>
		<if test="content != null"> #{content},</if>
		<if test="status != null"> #{status},</if>
		<if test="ip != null"> #{ip},</if>
		<if test="selfSite != null"> #{selfSite},</if>
		<if test="comment != null"> #{comment},</if>
		now()
	</trim>
</insert>

<!-- 根据标识，修改 异常网站历史记录 -->  
<update id="modifySiteHistory" parameterType="com.hnjing.ws.model.entity.SiteHistory" >
  	UPDATE tb_site_history SET
	<trim suffixOverrides=",">
		<if test="page != null"> page = #{page},</if>
		<if test="title != null"> title = #{title},</if>
		<if test="content != null"> content = #{content},</if>
		<if test="status != null"> status = #{status},</if>
		<if test="ip != null"> ip=#{ip},</if>
		<if test="selfSite != null"> self_site=#{selfSite},</if>
		<if test="comment != null"> comment = #{comment},</if>
		gmt_created = now()
	</trim>
	WHERE site_id = #{siteId}
</update>
 
<!-- 删除 异常网站历史记录 -->
<delete id="dropSiteHistoryBySiteId" parameterType="java.lang.Integer">
	DELETE FROM tb_site_history WHERE site_id = #{siteId}
</delete> 

<!-- 根据标识查询 异常网站历史记录 -->
<select id="querySiteHistoryBySiteId"  resultMap="SiteHistoryResultMap" parameterType="java.lang.Integer">
	SELECT 
	<include refid="sql_siteHistory_item"/>
	FROM tb_site_history WHERE site_id = #{siteId}
</select>

<!-- 根据属性查询异常网站历史记录 -->
<select id="querySiteHistoryByProperty"  resultMap="SiteHistoryResultMap" parameterType="java.util.Map">
	SELECT 
	<include refid="sql_siteHistory_item"/>
	FROM tb_site_history 
	<where>
		<include refid="sql_siteHistory_query_nowhere"/>
		<if test="siteHistory.nostatus != null">AND status != #{siteHistory.nostatus} </if>
		<if test="siteHistory.id">and gmt_created &gt;= (select begin_time from tb_site_statistics where id=#{siteHistory.id})
		and gmt_created &lt;= (select end_time from tb_site_statistics where id=#{siteHistory.id})
		</if>
	</where>
</select>

<!-- 根据异常网站历史记录属性与分页信息分页查询异常网站历史记录信息 -->
<select id="querySiteHistoryForPage"  resultMap="SiteHistoryResultMap" > 
	SELECT 
	<include refid="sql_siteHistory_item"/>
	FROM tb_site_history 
	<where>
		<include refid="sql_siteHistory_query_nowhere"/>
		<if test="siteHistory.nostatus != null">AND status != #{siteHistory.nostatus} </if>
		<if test="siteHistory.id">and gmt_created &gt;= (select begin_time from tb_site_statistics where id=#{siteHistory.id})
		and gmt_created &lt;= (select end_time from tb_site_statistics where id=#{siteHistory.id})
		</if>
	</where>
</select>


<!-- 记录正常访问但有其它访问慢、安全检测的网站 -->
<insert id="recordNomalSite" parameterType="java.lang.Integer">
insert into tb_site_history (site_id, page, title, content, status, comment, gmt_created, ip, self_site)
select r.*, u.ip, u.self_site from (
select site_id, page, title, content, status, comment, gmt_created from tb_site_result where status=200 and comment>0 and source=#{source} 
) r LEFT OUTER JOIN tb_site_url u on r.site_id = u.id
</insert>

<!-- 记录正常异常的网站 -->
<insert id="recordErrorSite" parameterType="java.lang.Integer">
insert into tb_site_history (site_id, page, title, content, status, comment, gmt_created, ip, self_site)
select r.*, u.ip, u.self_site from (
select site_id, page, title, content, status, comment, gmt_created from tb_site_result where status!=200 and source=#{source} 
) r LEFT OUTER JOIN tb_site_url u on r.site_id = u.id
</insert>

</mapper>   
